* {
  margin: 0;
  padding: 0; }

body {
  padding-right: 10px;
  padding-left: 10px; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12vw; }

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 5vw; }

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4vw; }

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  margin-bottom: 0; }

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 6vw; }

p {
  font-family: "Poppins", sans-serif;
  font-size: 3.5vw;
  margin-bottom: 0; }

a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  text-decoration: none;
  color: black; }

.imgCarrito {
  height: 14vw;
  width: 14vw; }

.navegador {
  height: 30vw; }
  .navegador .navegador__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%; }
  .navegador__item {
    margin-top: 12px; }
  .navegador__dropdown {
    text-align: center; }

.navbar-toggler {
  width: 15vw;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .navbar-toggler-icon {
    height: 10vw;
    width: 10vw; }

.indexBanner {
  height: 50vw;
  width: 100%; }

.categoriesSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.03vw;
  height: 35vw;
  width: 100%; }
  .categoriesSection__caja {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
    flex-wrap: nowrap; }
  .categoriesSection__item {
    margin-left: 3vw;
    margin-right: 3vw; }
  .categoriesSection__img {
    height: 14.5vw;
    width: 15vw;
    border-radius: 10vw;
    margin-bottom: 7px; }

.bestSellerSection {
  height: 100%; }
  .bestSellerSection__caja {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 50% 50%;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-items: center; }
  .bestSellerSection__img {
    height: 35vw;
    width: 35vw;
    border-radius: 10px;
    align-self: center;
    justify-self: center; }
  .bestSellerSection__item {
    text-align: center;
    font-weight: 600;
    font-size: 4.5vw; }

#contenedorNav {
  padding: 0; }

.backButton {
  border: none;
  background-color: transparent; }
  .backButton__img {
    height: 10vw;
    width: 10VWpx;
    background-color: #0097B2;
    border-radius: 10px; }

.navegadorCategories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%; }
  .navegadorCategories__titulo {
    font-weight: 600;
    font-size: 6vw;
    margin: 0; }
  .navegadorCategories__item {
    margin: 0;
    width: 15vw; }

.categoriesBanners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180vw; }
  .categoriesBanners__cocktails {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../sources/cocktail-section.jpeg);
    background-size: 100%;
    height: 33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 6vw;
    border-radius: 10px; }
  .categoriesBanners__wine {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../sources/wine-section.png);
    background-size: 100%;
    height: 33vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 6vw;
    border-radius: 10px; }
  .categoriesBanners__beer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../sources/beer-section.webp);
    background-size: 100% 100%;
    height: 33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 6vw;
    border-radius: 10px; }
  .categoriesBanners__softdrinks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../sources/soft-drinks-section.jpeg);
    background-size: 100%;
    height: 33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 6vw;
    border-radius: 10px; }
  .categoriesBanners__coffee {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../sources/coffee-section.jpeg);
    background-size: 100%;
    height: 33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 6vw;
    border-radius: 10px; }
  .categoriesBanners__titulo {
    color: white;
    font-size: 5vw;
    font-weight: 400; }

.imgCocktails {
  height: 35vw;
  width: 35vw;
  border-radius: 20px;
  border: 3px solid #0097B2; }

.tarjetas {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: start; }
  .tarjetas__cajas {
    margin-bottom: 10px; }

.mainSection {
  display: flex;
  flex-direction: row; }

.backButtonPosAbs {
  position: absolute;
  top: 10vw;
  left: 8vw; }

.infoDrink {
  padding: 0;
  width: 100%; }
  .infoDrink__img {
    width: 100%;
    height: 100vw; }
  .infoDrink__cajaPrincipal {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 7vw; }
  .infoDrink__review {
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
    height: 10vw;
    margin-bottom: 1vw;
    align-items: center; }
  .infoDrink__star {
    width: 5vw;
    height: 5vw; }
  .infoDrink__likes {
    position: absolute;
    top: 108vw;
    left: 82vw;
    text-align: center; }
  .infoDrink__heart {
    width: 10vw;
    height: 10vw;
    margin-bottom: 10px; }
  .infoDrink__button {
    background-color: #F5F5F5;
    border-radius: 5px;
    height: 10vw;
    width: 40vw;
    border: none;
    font-size: 3vw; }
    .infoDrink__button--active, .infoDrink__checkout {
      background-color: #0097B2;
      border-radius: 5px;
      height: 10vw;
      width: 40vw;
      border: none;
      font-size: 3vw;
      color: white; }
    .infoDrink__button__grid {
      display: grid;
      grid-template-columns: 49% 49%;
      grid-template-rows: 49% 49%;
      width: 100vw;
      padding-left: 7vw;
      padding-top: 3vw;
      height: 24vw; }
  .infoDrink__checkout {
    display: flex;
    width: 90%;
    margin-left: 5vw;
    margin-right: 7vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; }
    .infoDrink__checkout__order {
      margin: 0; }

.checkout {
  display: flex;
  flex-direction: column;
  margin-bottom: 30vw; }
  .checkout__tarjeta {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    margin-bottom: 3vw;
    margin-left: 2vw; }
  .checkout__caja {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .checkout__cantidad {
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-between; }
    .checkout__cantidad--boton {
      border-radius: 20px;
      height: 5vw;
      width: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #0098b3;
      color: white;
      border: none; }

.botonCheckout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 13vw;
  position: relative;
  top: 30vw;
  left: 10vw;
  margin-bottom: 20vw;
  background-color: #0098b3;
  color: white;
  padding-left: 20px;
  padding-right: 20px; }
  .botonCheckout__caja {
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
    border-right: 1px solid white;
    padding-right: 40px; }
  .botonCheckout__titulo {
    margin: 0;
    font-size: 5vw; }

.ocultar {
  display: none; }
